body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.invitation {
    position: relative;
    width: 730px;
    height: 1032px;
    margin: 5px auto;
    text-align: center;
}

.invitation-bg {
    width: 100%;
    height: auto;
}

.invitation-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}

#invitee-name {
    color: #ffffff;
    font-weight: bold;
}
